<div class="container">
Imie
    <input class="input" type="text" [(ngModel)]="imie">
Nazwisko
<input class="input" type="text" [(ngModel)]="nazwisko">
Pesel
<input class="input" type="text" [(ngModel)]="pesel" >
Data (RRRR-MM-DD)
<input class="input" type="text" [(ngModel)]="date">
Miasto
<input class="input" type="text" [(ngModel)]="miasto">
ulica
<input class="input" type="text" [(ngModel)]="ulica">
numer
<input class="input" type="text" [(ngModel)]="numer">

    <button class="button" (click)="createNewTodo()">
        Dodaj klienta
    </button>
</div>
